* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: var(--fz-base);
}

body {
    font-family: var(--ff-base);
    line-height: var(--lh-relaxed);
    background: var(--color-white);
    color: var(--color-dark-500);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: var(--space-2);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}